@import "../../styles/include.scss";
.global-message {
  position: fixed;
  z-index: 999;
  top: $space-2 + $space-5;
  right: $space-2;
  padding: $space-1;
  max-width: 300px;
  font-size: $font-size-2;
  font-weight: $font-weight-4;
  color: #fff;
  border-radius: $space-1;
  box-shadow: $box-shadow;
  &--error {
    background-color: #c4391d;
  }
  &--info {
    background-color: blue;
  }
}
